/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

snack-bar-container.mat-snack-bar-container {
  display: flex;
  align-items: center;
}

.snackbar-success,
.snackbar-error {
  color: #fff;
}

.snackbar-success::before {
  font-family: 'Material Icons';
  content: '\f013';
  color: #9ce2b6;
  margin-right: 8px;
}

.snackbar-error::before {
  font-family: 'Material Icons';
  content: '\e000';
  color: #fc9494;
  margin-right: 8px;
}
